a{
  color: white;
  text-decoration: none;
}

table th{
  color:white;
}
table.center {
  margin-left:auto; 
  margin-right:auto;
  width: 100%;
  text-emphasis-color: white;
}

.button {
  border: none;
  background-color: #04AA6D;
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  display:ruby-base;
  font-size: 14px;
  margin: 3px 1px;
  cursor: pointer;
  border-radius: 2px;
}

.footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  font-size: 8pt;
  color: white;
  background-color: rgba(0, 0, 0, 0.452);
  
}

