.link{
    padding-top: 0.2px;
    padding-left: 20px;
}

.image{
    margin-left:70px;
    padding-right: 5px;
    float: left;

    

   
}
.i{
    
    width:300px;
    height:300px;
    border: 1px solid rgb(210, 214, 209);
    border-radius: 4px;
    padding: 50px;
  

}
