.createStudResPost {
    position: fixed;
    background-color: #a4c2af;
    color:white;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 1250px;
    font-weight: 150;

}
.createStudResPost:hover {
    background-color: black;
    color: white;
  }